*  {
  padding: 0 ;
  margin: 0 ;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 90% ;
  margin: 0 auto ;
}

.row {
  display: flex ;
}

.col {
  display: flex ;
  flex-direction: column ;
}

.flex-between {
  justify-content: space-between ;
}

.items-center {
  align-items: center ;
}

nav {
  background-color: #278c42 ;
  color: #FFF ;
}

.nav-logo {
  width: 20% ;
  font-size: 20px ;
}

.nav-link {
  display: flex ;
  width: 20% ;
}

.nav-link a {
  padding: 10px 8px ;
  text-decoration: none ;
  color: #FFF;
  justify-content: space-between;
  font-size: 18px ;
}

.nav-link a.active {
  background-color: #007040 ;
}

.text-center {
  text-align: center ;
}

.m-10 {
  margin: 20px auto ;
}

.m-1 {
  margin: 5px auto ;
}

.m-5 {
  margin: 12px auto ;
}

.container h2 {
  margin-top: 30px ;
}

.container h3 {
  margin: 20px auto ;

}

.text-left {
  text-align: left ;
}

.bg-blue {
  background-color: #209e67 ;
}

.text-white {
  color: #FFF ;
}

.p-10 {
  padding: 20px;
}

.center {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  height: 100vh ;
  width: 100% ;
}

.btn {
  text-align: center ;
  border: none ;
  background-color: #209e67 ;
  font-size: 20px ;
  cursor: pointer;
  color: #FFF ;
  padding: 10px ;
  border-radius: 10px ;
  margin: 10px auto ;
}

.center a {
  text-decoration: none ;
  color: #209e67 ;
}